body {
  margin: 0;
  padding: 0;
  background-color: #1c1c1c;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#app {
  width: 550px;
  height: 550px;
  background-color: #1f2937;
}

#header {
  margin-left: 52px;
  margin-top: 115px;
}

#slogan {
  font-size: 40px;
  font-weight: bold;
  color: white;
}

span {
  color: #4adf86;
}
