body {
  margin: 0;
  padding: 0;
  background-color: #1c1c1c;
  font-family: "Karla", sans-serif;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#app {
  width: 550px;
  height: 550px;
  background-color: #1f2937;
}

#header {
  margin-left: 52px;
  margin-top: 115px;
}

#slogan {
  font-size: 40px;
  font-weight: bold;
  color: white;
}

span {
  color: #4adf86;
}

h3 {
  color: #d5d4d8;
  margin-top: -30px;
}

button {
  width: 191px;
  height: 42px;
  font-size: 16px;
  padding: 9px 17px 9px 15px;
  background-color: #10b981;
  border-radius: 6px;
  color: white;
  border: none;
  margin-top: 51px;
}

#display-area {
  width: 446px;
  height: 180px;
  margin: 35px auto;
  border-top: 1px solid #2f3e53;
  display: flex;
  justify-content: space-between;
}

.password-section {
  margin-top: 35px;
  width: 211px;
  height: 39px;
  background-color: #273549;
  border-radius: 6px;
  color: #55f991;
  display: flex;
  align-items: center;
  justify-content: center;
}
