body {
  margin: 0;
  padding: 0;
  background-color: #1c1c1c;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#app {
  width: 550px;
  height: 550px;
  background-color: #1f2937;
}
